**Instructions**


Over the past few years, ride-sharing apps have been on the rise across many cities in the world. 
While this has happened, Uber and Lyft's ride prices are not constant like
public transport. They are greatly affected by the demand and supply of rides at a given time.
As a Data Scientist working to understand this market, you have been tasked to come up with a descriptive analysis report to help a Ride-Sharing Startup coming into this space, understand the various patterns on how pricing works for the existing ride-sharing company.
Luckily, you were able to access some real-time data from Uber & Lyft's API and weather data from Weather API conditions.
You build a custom application in Scala to query data at regular intervals and saved it to DynamoDB. The queried cab ride estimates are done after every 5 mins and weather data after every 1 hr.
The cab ride data covers various types of cabs for Uber & Lyft and their price for the given location. Weather data contains weather attributes like temperature, rain, cloud,  etc for all the locations taken into consideration.

**Pre-requisites**

In [1]:
# load an sql extension. 
# This extension will allow us to run SQL code in our Notebook.
# ---
#
%load_ext sql

In [2]:
# We will then connect to an in memory SQLite database within colaboratory. 
# Something to note is that this in memory dataset will be deleted as 
# soon the dataset connection is lost, meaning when our connection to 
# the servers is disconnected then our database will cease to exist.
# ---
#  
%sql sqlite://

'Connected: @None'

In [3]:
# We will now need the pandas library to read our csv file from an external the source. 
# ---
import pandas as pd

In [21]:
cab_rides = pd.read_csv("cab_rides.csv", encoding="ISO-8859-1")

**Importing** **Data**

In [ ]:
# We load our first dataset from a csv file as shown then  
# after store the dataset in our in memory sqlite database.
# We read our dataset from its source and store it in a dataframe 
# called cab_rides 
# ---
#
cab_rides = pd.read_csv('/content/cab_rides.csv') 

# Then store it in an SQL table of our in memory sqlite database 
# --- 
# 

# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS cab_rides;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST cab_rides;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM cab_rides LIMIT 5;

In [12]:
weather = pd.read_csv("/content/weather.csv", encoding="ISO-8859-1")

In [13]:
# We load our first dataset from a csv file as shown then  
# after store the dataset in our in memory sqlite database.
# We read our dataset from its source and store it in a dataframe 
# called weather
# ---
#
weather = pd.read_csv('/content/weather.csv') 

# Then store it in an SQL table of our in memory sqlite database 
# --- 
# 

# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS weather;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST weather;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM weather LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 42.42, 'Back Bay', 1.0, 1012.14, 0.1228, 1545003901, 0.77, 11.25),
 (1, 42.43, 'Beacon Hill', 1.0, 1012.15, 0.1846, 1545003901, 0.76, 11.32),
 (2, 42.5, 'Boston University', 1.0, 1012.15, 0.1089, 1545003901, 0.76, 11.07),
 (3, 42.11, 'Fenway', 1.0, 1012.13, 0.0969, 1545003901, 0.77, 11.09),
 (4, 43.13, 'Financial District', 1.0, 1012.14, 0.1786, 1545003901, 0.75, 11.49)]

In [14]:
#Filtering, Sorting, and Grouping
#Perform filtering, sorting, and grouping to explore a dataset using the SQL language

#Price choose other alternative location 
%%sql 
SELECT SUM(price) AS 'Total Sales from North End'
FROM cab_rides
WHERE source = 'North End';

 * sqlite://
Done.

[(805720.0,)]

In [15]:
# Getting the avg weather pattern for locations
# ---
# get different weather averages
%%sql 
SELECT location, AVG(wind) FROM weather
GROUP BY location
ORDER BY AVG(wind) DESC
LIMIT 8;

 * sqlite://
Done.

[('Financial District', 6.860019120458891),
 ('North End', 6.8531166347992345),
 ('South Station', 6.848948374760993),
 ('Haymarket Square', 6.843193116634804),
 ('North Station', 6.835755258126191),
 ('Theatre District', 6.834302103250482),
 ('West End', 6.816233269598474),
 ('Beacon Hill', 6.8103250478011494)]

In [ ]:
#Data Formatting
#Perform data formatting of numeric data to prepare data for further analysis using the SQL language.

%%sql 
SELECT UPPER(location) AS LOCATION, wind AS WIND
FROM weather 
LIMIT 5;

 * sqlite://
Done.

[('BACK BAY', 11.25),
 ('BEACON HILL', 11.32),
 ('BOSTON UNIVERSITY', 11.07),
 ('FENWAY', 11.09),
 ('FINANCIAL DISTRICT', 11.49)]

In [16]:
#

%%sql 
SELECT location AS LOCATION, ROUND(wind, 1) AS Wind 
FROM weather LIMIT 5;

 * sqlite://
Done.

[('Back Bay', 11.3),
 ('Beacon Hill', 11.3),
 ('Boston University', 11.1),
 ('Fenway', 11.1),
 ('Financial District', 11.5)]

In [17]:
#Basic Statistical Techniques
#Perform basic statistical techniques using COUNT, MIN, MAX, and SUM functions using the SQL language.

%%sql 
SELECT cab_type, COUNT(source), SUM(price) FROM cab_rides
WHERE source = 'Financial District'
GROUP BY cab_type 
ORDER BY SUM(price) DESC
LIMIT 5;

 * sqlite://
Done.

[('Lyft', 26237, 493100.79999999993), ('Uber', 32620, 492275.0)]

In [19]:
%%sql 
SELECT cab_type, source, Count(cab_type) FROM cab_rides
GROUP BY source
ORDER BY cab_type ASC
LIMIT 10;

 * sqlite://
Done.

[('Lyft', 'Financial District', 58857),
 ('Lyft', 'Northeastern University', 57756),
 ('Uber', 'Back Bay', 57792),
 ('Uber', 'Beacon Hill', 57403),
 ('Uber', 'Boston University', 57764),
 ('Uber', 'Fenway', 57757),
 ('Uber', 'Haymarket Square', 57736),
 ('Uber', 'North End', 57763),
 ('Uber', 'North Station', 57118),
 ('Uber', 'South Station', 57750)]

In [18]:
%%sql 
SELECT cab_type, product_id, source, SUM(price) FROM cab_rides
GROUP BY source
ORDER BY source DESC
LIMIT 10;

 * sqlite://
Done.

[('Uber', '997acbb5-e102-41e1-b155-9df7de0a73f2', 'West End', 853428.2),
 ('Uber', '6d318bcc-22a3-4af6-bddd-b409bfce1546', 'Theatre District', 882976.7),
 ('Uber', '997acbb5-e102-41e1-b155-9df7de0a73f2', 'South Station', 833149.0),
 ('Lyft', 'lyft_premier', 'Northeastern University', 951695.35),
 ('Uber', '6f72dfc5-27f1-42e8-84db-ccc7a75f6969', 'North Station', 860354.0),
 ('Uber', '997acbb5-e102-41e1-b155-9df7de0a73f2', 'North End', 805720.0),
 ('Uber', '9a0e7b09-b92b-4c41-9779-2ad22b4d779d', 'Haymarket Square', 721636.0),
 ('Lyft', 'lyft_luxsuv', 'Financial District', 985375.7999999999),
 ('Uber', '8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a', 'Fenway', 977164.0),
 ('Uber', '997acbb5-e102-41e1-b155-9df7de0a73f2', 'Boston University', 1002453.5)]

In [20]:
%%sql
SELECT *
FROM cab_rides, weather
WHERE cab_rides.destination = weather.location
LIMIT 15;

 * sqlite://
Done.

[(0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 7, 42.21, 'North Station', 1.0, 1012.16, 0.2069, 1545003901, 0.77, 11.37),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 18, 41.95, 'North Station', 0.81, 991.63, None, 1543347920, 0.73, 10.87),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 23, 43.92, 'North Station', 1.0, 1006.29, 0.0409, 1543277833, 0.9, 10.09),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 43, 27.22, 'North Station', 0.15, 1033.4, None, 1544787901, 0.81, 3.01),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 54, 45.47, 'North Station', 1.0, 1012.47, None, 1543253710, 0.86, 6.5),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 66, 45.86, 'North Station', 0.99, 1021.64, None, 1544870701, 0.9, 5.68),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 77, 44.44, 'North Station', 0.19, 1029.99, None, 1544813101, 0.61, 3.39),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 87, 39.92, 'North Station', 0.95, 1000.89, None, 1545068701, 0.81, 6.42),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 99, 38.44, 'North Station', 0.75, 996.8, None, 1543451968, 0.69, 11.07),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 113, 36.74, 'North Station', 0.4, 1023.64, None, 1543708374, 0.76, 2.51),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 123, 33.46, 'North Station', 0.12, 991.2, None, 1543398556, 0.83, 5.37),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 140, 25.4, 'North Station', 0.8, 1006.2, None, 1545129901, 0.53, 18.09),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 152, 28.78, 'North Station', 0.28, 1021.47, None, 1544409657, 0.6, 5.2),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 165, 40.35, 'North Station', 0.92, 1013.8, None, 1543210083, 0.93, 2.66),
 (0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared', 174, 42.4, 'North Station', 0.58, 1007.66, None, 1543521174, 0.54, 10.8)]